.DS_Store

local/

apps/sublime/*.cache
apps/sublime/Package Control.last-run
apps/sublime/Package Control.system-ca-bundle
apps/sublime/Package Control.user-ca-bundle
apps/sublime/Package Control.merged-ca-bundle
apps/sublime/GoSublime
apps/sublime/GoSublime-aux.sublime-settings

apps/xcode/*.xcuserstate
